<%- include("partials/sidebar") %>

  <% const sharedTrips = allTrips.filter(trip => !trip.completed).filter(trip => trip.sharedUsers.length > 1).filter(trip => {  %>
    <% let userIds = trip.sharedUsers.map(user => Object.keys(user)).flat() %>
    <%  return userIds.includes(user._id.toString()) %>
  <% }) %>

  <section class="content--body appmain">

    <h1>Hello <%= user.userName %>! 👋</h1>

    <p>Check out what shared trips you have!</p>

    <!-- Upcoming Trips Cards -->
    <section class="tripsCard tripsCard--upcoming__tab selectedCard">

      <% sharedTrips.map( el => { %>
        <section class="tripsCard--upcoming" data-id='<%=el._id%>'>
          <a href="/tripEditor/<%= el._id%>"><img class="tripsCard--img" src="<%= el.displayImg %>" alt="trip img placeholder"></a>
          
          <section class="tripsCard--overview">
            <section class="tripsCard--text" data-id='<%=el._id%>'>
              <h4 class="tripsCard--title" title="Mark Completed"><%= el.trip %></h4>
              <div class="tripsCard--date"><%= el.destinations.length > 1 ? el.destinations.sort((a,b) => (a.startDate > b.startDate) ? 1 : -1)[0].startDate : 'Not Planned' %></div>
            </section>
          </section>
          
        </section>

      <% }) %> 
    </section>
    
  </section>
  <script src="/js/sidebar.js"></script>
  <script src="/js/trips.js"></script>
  </body>
</html>