<%- include("partials/sidebar") %>

  <section class="content--body appmain" data-id="<%=trip[0]._id%>">
    <!-- Editable Trip Cover Image -->
    <section class="trip--cover">
      <img class="trip--coverImg" src="<%= trip[0].displayImg %>" alt="">

      <section class="changeCoverImg" data-id="<%=trip[0]._id%>">
        <input class="changeCoverImg-input" type="text" name="displayImg" placeholder="enter URL"><button class="changeCoverImg-btn">Change Cover</button>
      </section>
    </section>

    <!-- Trip Title -->
    <h1 class="trip--title editable" contenteditable="true"><%= trip[0].trip %></h1>
    
    <!-- Trip Overview Section -->
    <section class="trip--overview">
      <section class="overview--details">
        <span class="detail--title">
          <i class="fa-solid fa-user-group"></i> Travelers: </span>
          <!-- Gets all usernames from sharedUsers Object -->
        <span class="detail--value"><%= trip[0].sharedUsers.map(user => Object.values(user)) %></span>
      </section>
      <section class="overview--details">
        <span class="detail--title">
          <i class="fa-solid fa-clock"></i> Created: </span>
          <!-- Formats and gets the date trip was created -->
        <span class="detail--value"><%= trip[0].creationDate.toDateString() %></span>
      </section>
      <section class="overview--details">
        <span class="detail--title">
          <i class="fa-solid fa-location-dot"></i> Stops: </span>
          <!-- Calculates the total number of trip destinations -->
        <span class="detail--value"><%= trip[0].destinations.length %></span>
      </section>
      <section class="overview--details">
        <span class="detail--title">
          <i class="fa-solid fa-calendar-day"></i> Travel Dates: </span>
        <span class="detail--value">
          <% if (trip[0].destinations.length >= 1) { %>
            <!-- Get Earliest Start Date by sorted array at 0th position-->
            <span><%= trip[0].destinations.sort((a,b) => (a.startDate > b.startDate) ? 1 : -1)[0].startDate %> → </span>  
            <!-- Get Latest End Date by sorted array at end position -->
            <span><%= trip[0].destinations.sort((a,b) => (a.startDate > b.startDate) ? 1 : -1)[trip[0].destinations.length - 1].endDate %></span>  
          <% } %>
        </span>
      </section>
    </section>

    <!-- Editable Trip Description -->
    <p class="trip--description editable" contenteditable="true"><%= trip[0].description ? trip[0].description : 'Enter trip description...' %></p> 

    <!-- Trip Destination Card Template EJS -->
    <section class="trip--destinations">
      <h3 class="destination--title">Destinations</h3>

      <!-- Add new destination components -->
      <section class="newDestination" data-id="<%=trip[0]._id%>">
        <input class="newDestination--input" type="text" name="newDestination" placeholder="Add New Destination"><button class="newDestination--btn"><i class="fa-solid fa-plus"></i></button>
      </section>

      <!-- Render destination cards if available -->
      <% if (trip[0].destinations) { %>

        <% trip[0].destinations.sort((a,b) => (a.startDate > b.startDate) ? 1 : -1).map(destination => { %>
          <section class="newDestination--item" data-id="<%=trip[0]._id%>" >
            <!-- Card Icon -->
            <section class="newDestination--icon" data-id="<%=trip[0]._id%>">
              <i class="fa-solid fa-plane"></i>
            </section>

            <!-- Editable Card Information -->
            <section class="newDestination--info" data-id="<%=trip[0]._id%>" data-loc="<%= destination.location %>" >
              <!-- Location -->
              <h4 class="newDestination--location editable" contenteditable="true"> <%= destination.location %> </h4> 
              <!-- Start - End Dates -->
              <section class="newDestination--dates" data-id="<%=trip[0]._id%>" data-loc="<%= destination.location %>">
                <input class="destination--startDate" type="date" name="destination--startDate" id="" value="<%= destination.startDate %>">
                <input class="destination--endDate" type="date" 
                name="destination--endDate" id="" value="<%= destination.endDate %>">
              </section>
            </section>

            <!-- Card Btns -->
            <section class="newDestination--btns" data-id="<%=trip[0]._id%>" data-loc="<%= destination.location %>" >
              <a href="#<%= destination.location %>"><i class="editDestination--btn fa-solid fa-expand"></i></a>
              <i class="deleteDestination--btn fa-solid fa-trash-can"></i>
            </section>
          </section>

          <!-- Destination Expanded Modal -->
          <section id="<%= destination.location %>" class="modal expanded">
            <section class="modal--content expanded" data-id="<%=trip[0]._id%>" data-loc="<%= destination.location %>">
              <!-- Location -->
              <h2 class="newDestination--location editable" contenteditable="true"><%= destination.location %></h2>

              <!-- Destination Content Tabs -->
              <section class="content--nav">
                <button class="content--tabs tab--overview active">Overview</button>
                <button class="content--tabs tab--itinerary">Itinerary</button>
                <button class="content--tabs tab--travel">Flights/Travel</button>
                <button class="content--tabs tab--accomodations">Accomodations</button>
              </section>

              <!-- Destination Content -->
              <section class="content--area">
                <!-- Destination Overview Tab -->
                <section class="content--areaDisplay areaDisplay--overview active" data-id="<%=trip[0]._id%>" data-loc="<%= destination.location %>">
                  <h3 class="areaDisplay--titles">Trip Summary</h3>
                  <!-- Destination Overview Cards -->
                  <section class="areaDisplay--section">
                    <!-- Start - End Dates -->
                    <section class="areaDisplay--card">
                      <h4 class="areaDisplay--titles__cards">Trip Dates</h4>
                      <section class="newDestination--dates" data-id="<%=trip[0]._id%>" data-loc="<%= destination.location %>">
                        <label for="destination--startDate">Start</label>
                        <input class="destination--startDate" type="date" name="destination--startDate" id="" value="<%= destination.startDate %>">
                        <label for="destination--endDate">End</label>
                        <input class="destination--endDate" type="date" 
                          name="destination--endDate" id="" value="<%= destination.endDate %>">
                      </section>
                    </section>
                    <!-- Itinerary Overview -->
                    <section class="areaDisplay--card">
                      <h4 class="areaDisplay--titles__cards">Planned Activities</h4>
                      <% if (destination.itinerary) { %>
                        <span class="areaDisplay--cardStat"><i class="fa-solid fa-person-walking"></i> <%= destination.itinerary.length %></span>
                      <% } else { %>
                        <span class="areaDisplay--cardStat"><i class="fa-solid fa-person-walking"></i> None</span>
                      <% } %>
                    </section>
                    <!-- Tickets Overview -->
                    <section class="areaDisplay--card">
                      <h4 class="areaDisplay--titles__cards">Saved Tickets</h4>
                      <% if (destination.tickets) { %>
                        <span class="areaDisplay--cardStat"><i class="fa-solid fa-ticket"></i> <%= destination.tickets.length %></span>
                      <% } else { %>
                        <span class="areaDisplay--cardStat"><i class="fa-solid fa-ticket"></i> None</span>
                      <% } %>
                    </section>
                    <!-- Accomodations Overview -->
                    <section class="areaDisplay--card">
                      <h4 class="areaDisplay--titles__cards">Planned Accomodations</h4>
                      <% if (destination.accomodations) { %>
                        <span class="areaDisplay--cardStat"><i class="fa-solid fa-bed"></i> <%= destination.accomodations.length %></span>
                      <% } else { %>
                        <span class="areaDisplay--cardStat"><i class="fa-solid fa-bed"></i> None</span>
                      <% } %>
                    </section>
                  </section>
                    
                  <!-- Editable Notes -->
                  <h3 class="areaDisplay--titles">Notes</h3>
                    <p class="destination--notes editable" contenteditable="true"><%= destination.notes ? destination.notes : "Add notes..." %></p>
                </section>

                <!-- Destination Travel Itinerary Tab -->
                <section class="content--areaDisplay areaDisplay--itinerary">
                  <!-- Add Accomodation Itinerary Item form -->
                  <h3 class="areaDisplay--titles">Add Travel Activity</h3>
                  <form class="destinationDetail--form" action="/tripEditor/addActivity/<%=trip[0]._id%>/<%=destination.location%>?_method=PUT" method='POST'>
                    <section class="destinationDetail--form__single">
                      <!-- Add Itinerary Activity -->
                      <label class="destinationDetail--label" for="activityDescrip">Activity</label>
                      <input class="destinationDetail--inpt" type="text" name="activityDescrip" placeholder="Storming Blackwater Bay">
                    </section>
                    <section class="destinationDetail--form__multi">
                      <section>
                        <!-- Add Activity Location-->
                        <label class="destinationDetail--label" for="activityLocation">Location</label>
                        <input class="destinationDetail--inpt" type="text" name="activityLocation" placeholder="King's Landing">
                      </section>
                      <section>
                        <!-- Select type of activity -->
                        <label class="destinationDetail--label" for="activityType">Type</label>
                        <input class="destinationDetail--inpt" list="activityType" name="activityType" placeholder="Select Type">
                        <datalist class="" id="activityType">
                          <option value="Restaurant">Restaurant</option>
                          <option value="Bar">Bar</option>
                          <option value="Park">Park</option>
                          <option value="Attraction">Attraction</option>
                          <option value="Museum">Museum</option>
                          <option value="Other">Other</option>
                        </datalist>
                      </section>
                      <!-- Add Start Time/Date -->
                      <section>
                        <label class="destinationDetail--label" for="startDateTime">Start</label>
                        <input class="destinationDetail--inpt" type="datetime-local" name="startDateTime">
                      </section>
                      <!-- Add End Time/Date -->
                      <section>
                        <label class="destinationDetail--label" for="endDateTime">End</label>
                        <input class="destinationDetail--inpt" type="datetime-local" name="endDateTime">
                      </section>
                    </section>
                    <!-- Submit form btn -->
                    <section class="destinationDetail--form__single right">
                      <input class="destinationDetail--form__submit" type="submit">
                    </section>
                  </form>

                  <!-- View Activity Cards -->
                  <section class="newActivity">
                    <% if (destination.itinerary) { %>
                      <% destination.itinerary.map(activity => { %>
                          <section class="newAccomodation--item" data-id="<%=trip[0]._id%>" data-loc="<%= destination.location %>" data-activityDesc="<%= activity.activityDescrip %>"> 
                            <section class="newAccomodation--item__main" >
                              <h4 data-id="<%=trip[0]._id%>" data-loc="<%= destination.location %>" data-activityDesc="<%= activity.activityDescrip %>"><%= activity.activityLocation %> <i class="deleteActivity--btn fa-solid fa-trash-can"></i> </h4>
                              <div> <%= activity.activityDescrip %> </div>
                            </section>
  
                            <section class="newAccomodation--item__details"> 
                              <section class="details--dates__depart">
                                <div> <%= activity.startDateTime %> </div>
                                <div> <%= activity.endDateTime %> </div>
                              </section>
                              <section class="details--dates__arrive flex">
                                <span class="activityType--tag"> <%= activity.activityType %> </span>
                              </section>
                            </section>   
                          </section>                     
                      <% }) %>
                    <% } %>
                  </section>
                </section>

                <!-- Destination Flights/Tickets Tab -->
                <section class="content--areaDisplay areaDisplay--travel">
                  <!-- Add Accomodation Tickets form -->
                  <h3 class="areaDisplay--titles">Add Ticket</h3>
                  <form class="destinationDetail--form" action="/tripEditor/addTicket/<%=trip[0]._id%>/<%=destination.location%>?_method=PUT" method='POST'>
                    <section class="destinationDetail--form__multi">
                      <!-- Add Departure date/time -->
                      <section>
                        <label class="destinationDetail--label" for="departDateTime">Departure</label>
                        <input class="destinationDetail--inpt" type="datetime-local" name="departDateTime">
                      </section>
                      <section>
                        <!-- Add Flight confirmation code -->
                        <label class="destinationDetail--label" for="departLoc">Airport</label>
                        <input class="destinationDetail--inpt" type="text" name="departLoc" placeholder="IAD, Virginia">
                      </section>
                      <section>
                        <label class="destinationDetail--label" for="arriveDateTime">Arrival</label>
                        <input class="destinationDetail--inpt" type="datetime-local" name="arriveDateTime">
                      </section>
                      <section>
                        <!-- Add Flight confirmation code -->
                        <label class="destinationDetail--label" for="arriveLoc">Airport</label>
                        <input class="destinationDetail--inpt" type="text" name="arriveLoc" placeholder="DCA, Washington DC">
                      </section>
                    </section>
                    <section class="destinationDetail--form__multi two">
                      <section>
                        <!-- Add Flight confirmation code -->
                        <label class="destinationDetail--label" for="flightConfirmation">Confirmation</label>
                        <input class="destinationDetail--inpt" type="text" name="flightConfirmation" placeholder="FLY360">
                      </section>
                      <section>
                        <!-- Select Airlines -->
                        <label class="destinationDetail--label" for="flightAirline">Airlines</label>
                        <input class="destinationDetail--inpt" type="text" name="flightAirline" placeholder="Aer Lingus">
                      </section>
                    </section>
                    <!-- Submit form btn -->
                    <section class="destinationDetail--form__single right">
                      <input class="destinationDetail--form__submit" type="submit">
                    </section>
                  </form>

                  <!-- View Ticket Cards -->
                  <section class="newFlight">
                    <% if (destination.tickets) { %>
                      <% destination.tickets.map(ticket => { %>
                          <section class="newAccomodation--item" data-id="<%=trip[0]._id%>" data-loc="<%= destination.location %>" data-flightCode="<%= ticket.flightConfirmation %>"> 
                            <section class="newAccomodation--item__main" >
                              <h4 data-id="<%=trip[0]._id%>" data-loc="<%= destination.location %>" data-flightCode="<%= ticket.flightConfirmation %>"><%= ticket.flightAirline %> <i class="deleteTicket--btn fa-solid fa-trash-can"></i> </h4>
                              <div> <%= ticket.flightConfirmation %> </div>
                            </section>
  
                            <section class="newAccomodation--item__details"> 
                              <section class="details--dates__depart">
                                <div> <%= ticket.departDateTime %> </div>
                                <div> <%= ticket.departLoc %> </div>
                              </section>
                              <i class="fa-solid fa-plane"></i>
                              <section class="details--dates__arrive">
                                <div> <%= ticket.arriveDateTime %> </div>
                                <div> <%= ticket.arriveLoc %> </div>
                              </section>
                            </section>   
                          </section>                     
                      <% }) %>
                    <% } %>
                  </section>
                </section>

                <!-- Destination Accomodation Tab -->
                <section class="content--areaDisplay areaDisplay--accomodations">
                  <!-- Add Accomodation form -->
                  <h3 class="areaDisplay--titles">Add Accomodation</h3>
                  <form class="destinationDetail--form" action="/tripEditor/addAccomodation/<%=trip[0]._id%>/<%=destination.location%>?_method=PUT" method='POST'>
                    <section class="destinationDetail--form__single">
                      <!-- Add accomodation address -->
                      <label class="destinationDetail--label" for="accomodationAddress">Address</label>
                      <input class="destinationDetail--inpt" type="text" name="accomodationAddress" placeholder="P. Sherman 42 Wallaby Way">
                    </section>
                    <section class="destinationDetail--form__multi">
                      <section>
                        <!-- Add accomodation confirmation code -->
                        <label class="destinationDetail--label" for="accomodationConfirmation">Confirmation</label>
                        <input class="destinationDetail--inpt" type="text" name="accomodationConfirmation" placeholder="REF421A">
                      </section>
                      <section>
                        <!-- Select type of accomodation -->
                        <label class="destinationDetail--label" for="accomodationType">Type</label>
                        <input class="destinationDetail--inpt" list="select--accomodation" name="accomodationType" placeholder="Select Type">
                        <datalist class="" id="select--accomodation">
                          <option value="Hotel">Hotel</option>
                          <option value="AirBnb">AirBnb</option>
                          <option value="Vrbo">Vrbo</option>
                          <option value="Rental">Rental</option>
                          <option value="Other">Other</option>
                        </datalist>
                      </section>
                      <!-- Add Stay dates -->
                      <section>
                        <label class="destinationDetail--label" for="accomodationStartDate">Start</label>
                        <input class="destinationDetail--inpt" type="date" name="accomodationStartDate" value="<%= destination.startDate %>" min="<%= destination.startDate %>">
                      </section>
                      <!-- Add Stay dates -->
                      <section>
                        <label class="destinationDetail--label" for="accomodationEndDate">End</label>
                        <input class="destinationDetail--inpt" type="date" name="accomodationEndDate" value="<%= destination.endDate %>" max="<%= destination.endDate %>">
                      </section>
                    </section>
                    <!-- Submit form btn -->
                    <section class="destinationDetail--form__single right">
                      <input class="destinationDetail--form__submit" type="submit">
                    </section>
                  </form>

                  <!-- View Accomodation Cards -->
                  <section class="newAccomodation">
                  <% if (destination.accomodations) { %>
                    <% destination.accomodations.map(accomodation => { %>
                        <section class="newAccomodation--item" data-id="<%=trip[0]._id%>" data-loc="<%= destination.location %>" data-accom="<%= accomodation.accomAddress %>"> 
                          <section class="newAccomodation--item__main" >
                            <h4 data-id="<%=trip[0]._id%>" data-loc="<%= destination.location %>" data-accom="<%= accomodation.accomAddress %>"><%= accomodation.accomType %> <i class="deleteAccom--btn fa-solid fa-trash-can"></i> </h4>
                            <div> <%= accomodation.accomConfirmation %> </div>
                          </section>

                          <section class="newAccomodation--item__details"> 
                            <section class="details--dates">
                              <div> <%= accomodation.accomStartDate %> </div>
                              <div> <%= accomodation.accomEndDate %> </div>
                            </section>
                            <section class="details--address">
                              <div> <a target="_blank" href="https://www.google.com/maps/search/<%=accomodation.accomAddress%>"> <%= accomodation.accomAddress %> </a></div>
                            </section>
                          </section>   
                        </section>                     
                    <% }) %>
                  <% } %>
                  </section>
                </section>
              </section>

              <!-- Close Modal Btn -->
              <a href="#" class="modal--close">&times;</a>
            </section>
          </section>

        <% }) %>
      <% } %>

    </section>
    
  </section>
  <script src="/js/sidebar.js"></script>
  <script src="/js/tripsEditor.js"></script>
  </body>
</html>