<%- include("partials/sidebar") %>

  <section class="content--body appmain" data-id="<%=trip[0]._id%>"">
    <h1 class="trip--title editable" contenteditable="true"><%= trip[0].trip %></h1>

    <p class="trip--createInfo">Created by <span> <%= user.userName %> </span> on <%= trip[0].creationDate %></p>

    <p class="trip--description editable" contenteditable="true"><%= trip[0].description ? trip[0].description : 'Enter trip description...' %></p> 
    
    <section class="trip--overview">
      <section class="overview--details">
        <span class="detail--title">Travelers: </span>
        <span class="detail--value"><%= user.userName %></span>
      </section>
      <section class="overview--details">
        <span class="detail--title">Stops: </span>
        <span class="detail--value"><%= trip[0].destinations.length %></span>
      </section>
      <section class="overview--details">
        <span class="detail--title">Start Date: </span>
        <span class="detail--value"></span>
      </section>
      <section class="overview--details">
        <span class="detail--title">End Date: </span>
        <span class="detail--value"></span>
      </section>
    </section>

    <section class="trip--destinations">
      <h3 class="destination--title">Destinations</h3>

      <% if (trip[0].destinations) { %>

        <% trip[0].destinations.map(destination => { %>

          <section class="newDestination--item" data-id="<%=trip[0]._id%>" >
            <section class="newDestination--icon" data-id="<%=trip[0]._id%>">
              <i class="fa-solid fa-plane"></i>
            </section>
            <section class="newDestination--info" data-id="<%=trip[0]._id%>" >
              <h4 class="newDestination--location editable" contenteditable="true"> <%= destination.location %> </h4> 
              <p class="newDestination--desc editable" contenteditable="true">Enter brief description... </p> 
            </section>
            <section class="newDestination--btns" data-id="<%=trip[0]._id%>" data-loc="<%= destination.location %>" >
              <i class="editDestination--btn fa-solid fa-expand"></i>
              <i class="deleteDestination--btn fa-solid fa-trash-can"></i>
            </section>
          </section>

        <% }) %>
      <% } %>

    <section class="newDestination" data-id="<%=trip[0]._id%>">
      <input class="newDestination--input" type="text" name="newDestination" placeholder="Enter New Destination">
      <button class="newDestination--btn"> Add Destination </button>
    </section>

    </section>
    
  </section>
  <script src="/js/main.js"></script>
  </body>
</html>