<%- include("partials/sidebar") %>

  <section class="content--body appmain">
    <h1>Hello <%= user.userName %>! 👋</h1>

    <p>Welcome back, you have <%= left %> <%= left === 1 ? "trip" : "trips" %> upcoming trips.</p>

    <!-- Upcoming Trips Cards -->
    <h2>Upcoming</h2>
    <section class="tripsCard">

      <% trips.filter( el => !el.completed ).map( el => { %>

        <section class="tripsCard--upcoming" data-id='<%=el._id%>'>
          <img class="tripsCard--img" src="<%= el.displayImg %>" alt="trip img placeholder">
          <section class="tripsCard--overview">
            <h4 class="tripsCard--title <%= el.completed === true ? 'completed' : 'not' %>"><%= el.trip %></h4>
            <section class="tripsCard-btns" data-id='<%=el._id%>'>
              <a class="editTrip" href="/tripEditor/<%= el._id%>"><i class="fa-regular fa-pen-to-square"></i></a>
              <span class='del'><i class="fa-regular fa-circle-xmark"></i> </span>
            </section>
          </section>
          
        </section>

      <% }) %> 
    </section>

    <!-- Completed Trips Cards -->
    <h2>Completed</h2>
    <section class="tripsCard">
      
      <% trips.filter( el => el.completed ).map( el => { %>

        <section class="tripsCard--completed" data-id='<%=el._id%>'>
          <img class="tripsCard--img <%= el.completed && 'hidden-img' %>" src="<%= el.displayImg %>" alt="trip img placeholder">
          <section class="tripsCard--overview">
            <h4 class="tripsCard--title <%= el.completed === true ? 'completed' : 'not' %>"><%= el.trip %></h4>            
            <section class="tripsCard-btns" data-id='<%=el._id%>'>
              <a class="editTrip" href="/tripEditor/<%= el._id%>"><i class="fa-regular fa-pen-to-square"></i></a>
             <span class='del'><i class="fa-regular fa-circle-xmark"></i></span>
           </section>
          </section>
          
        </section>

      <% }) %> 
    </section>

    <!-- Create New Trip Modal -->
    <section>
      <div class="wrapper">
        <a href="#modal"> <i class="fa-solid fa-plus"></i> </a>
      </div>

      <div id="modal" class="modal">
        <div class="modal--content">
            <form class="addTripForm" action="/trips/createTrip" method='POST'>
              <input class="addTripForm--input" type="text" placeholder="Enter Trip Name" name='tripItem'>
              <!-- <input class="addtTripForm--submit" type="submit"> -->
            </form>

            <a href="#" class="modal--close">&times;</a>
        </div>
      </div>
    </section>
    
  </section>

  <script src="/js/main.js"></script>
  </body>
</html>