<%- include("partials/sidebar") %>

  <section class="content--body appmain">
    <h1>Trips Dashboard</h1>

    <form action="/trips/createTrip" method='POST'>
      <input type="text" placeholder="Enter Trip Name" name='tripItem'>
      <input type="submit">
    </form>

    <p><%= user.userName %> has <%= left %> <%= left === 1 ? "trip" : "trips" %> left.</p>

    <ul>
      <% trips.forEach( el => { %>

        <li class='todoItem' data-id='<%=el._id%>'>
            <span class='<%= el.completed === true ? 'completed' : 'not' %>'> <%= el.trip %></span>
            <section>
              <span><a href="">Edit</a></span>
              <span class='del'> Delete </span>
            </section>
        </li>
        
      <% }) %>    
    </ul>


  </section>

  <script src="js/main.js"></script>
  </body>
</html>